#kaderafspraken-docviewer{
    width: 80%;
    height: 970px;
    margin-left: 10px;
}

.brieven-docviewer{
    width: 80%;
    height: 970px;
    margin-left: 40px;
}

h1, h2, h3, h4, h5, p {
    margin-left: 10px;
}

h1, h2, h3, h4, h5 {
    color: #4d0071;
}

.img-container{
    width: 1600px !important;
    min-width: 1600px;
    margin-left: 10px;
    
    resize:none;
}

.img-container .title{
    font-style: italic;
    font-size: small;
}

body{
    overflow: auto;
}

#infoblock {
    border: 2px lightgray solid;
    border-radius: 5px;
    width: 700px;
    height: fit-content;
    min-height: 100px;
    margin-left: auto;
    margin-right: auto;
    display: none;
}

#close-infoblock-btn{
    float: right;
    z-index: 3;
}


.header a{
    color: black;
    text-decoration: none;
}

.content{
    overflow: auto;
    height: calc(100vh - 50px);
}

.links{
    float: right;
    margin-right: 10px;
}

.link-to-contact-page{
    margin-left: 10px;
}

p {
    margin-left: 10px;
}

#index-feed{
    width: 500px;
    margin-left: 30px;
    border: 1px lightgray solid;
    border-radius: 5px;
    max-height: 700px;
    overflow-y: auto;
}

#index-feed .title {
    padding: 0;
    text-align: center;
}

#index-feed .label{
    font-size: larger;
}

#index-feed .second-label{
    font-size: small;
}

.prev-content a, .next-content a{
    color: #4d0071;
    text-decoration: none;
}

.prev-content{
    float: left;
    position: absolute;
    left: 10px;
    top: 50vh;
    z-index: 3;
}

.next-content{
    float: right;
    position: absolute;
    right: 10px;
    top: 50vh;
    z-index: 3;
}

.active-menu-link{
    background-color: rgba(77, 0, 113, 0.5) !important;
    color: white !important;
}

.poll-form-iframe{
    margin-left: 15px;
}